@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&family=Vollkorn&display=swap');
body{
  margin: 0; padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}


.products{
  width:23%; height:75%; margin-top: 2%; border-radius: 5px;
  transition: .2s
  
}
.products:hover{
  transform: scale(1.05);
  cursor: pointer;
  
}
.products img{
  border-radius: 5px 5px 0px 0px !important;
}
.product-image{
  height: 400px !important;
}
.product-title{
  height: 4.5vh !important;
}
@media screen and (max-width:767px) {
  .products{
    width: 46%;
  }
  .product-image{
    height: 200px !important;
  }
  .product-title{
    height: 3vh !important;
  }
}
